<!-- Head Info (Do Not Touch)-->
{{define "content"}}
<head>
    <link rel="stylesheet" href="/static/css/postPage.css">
</head>
<!-- Left Side Container -->
<div class="posts">
   <!-- Assuming you have a variable named 'post' of type models.Post in your Go code -->
   <div class="post-display-box">
    <h2>{{ .Post.Title }}</h2>
    <p>{{ .Post.Content }}</p>
    <div class="buttons-container">
            <form method="post" action="/submit-comment">
                <input type="hidden" name="post_id" value="{{ .Post.ID }}">
                <textarea placeholder="Write a comment..." name="comment"></textarea>
                <button type="submit">Submit Comment</button>
            </form>
        <div class="like-dislike-buttons">
            <form method="post" action="/like-post">
                <input type="hidden" name="post_id" value="{{ .Post.ID }}">
                <button type="submit">Like</button><span>{{ .Post.LikeCount }}</span>
            </form>
            <form method="post" action="/dislike-post">
                <input type="hidden" name="post_id" value="{{ .Post.ID }}">
                <button type="submit">Dislike</button><span>{{ .Post.DislikeCount }}</span>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Comments -->
<div class="comments-container">
    {{range .Comments}}
    <div class="comment">
        <h3>User ID: {{ .UserID }}</h3>
        <p>{{ .Content }}</p>
        <div class="like-dislike-buttons">
            <form method="post" action="/like-comment">
                <input type="hidden" name="comment_id" value="{{ .ID }}">
                <button type="submit">Like</button><span> {{ .LikeCount }}</span>
            </form>
            <form method="post" action="/dislike-comment">
                <input type="hidden" name="comment_id" value="{{ .ID }}">
                <button type="submit">Dislike</button><span> {{ .DislikeCount }}</span>
            </form>
        </div>
    </div>
    {{end}}
</div>
</section>
{{end}}
